DB_HOST=mysql
DB_USER=root
DB_PASSWORD=123456
DB_NAME=comfyui

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_DB=0

OSS_ACCESS_KEY_ID=
OSS_ACCESS_KEY_SECRET=
OSS_BUCKET_NAME=fengyuanbo-ai
OSS_ENDPOINT=https://oss-cn-beijing.aliyuncs.com

ENCRYPTION_KEY=

OUTPUT_DIR=D:\AAAA\output
INPUT_DIR=D:\AAAA\input
VOICE_DIR=D:\AAAA\voice

WORKER_COUNT=8
QUEUE_MAX_SIZE=40

# MiniMax TTS
MINIMAX_API_KEY=
MINIMAX_BASE_URL=https://api.vectorengine.ai/minimax/v1

# 千问大模型
QWEN_API_KEY=
QWEN_BASE_URL=https://dashscope.aliyuncs.com/compatible-mode/v1
QWEN_MODEL=qwen3.5-plus-2026-04-20
