DB_HOST=localhost
DB_USER=root
DB_PASSWORD=123456
DB_NAME=comfyui

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_DB=0

OSS_ACCESS_KEY_ID=
OSS_ACCESS_KEY_SECRET=
OSS_BUCKET_NAME=
OSS_ENDPOINT=https://oss-cn-beijing.aliyuncs.com